aiohttp
beautifulsoup4
hachoir
numpy
Pillow
Pyrogram==1.4.7
requests
tgcrypto
yt-dlp==2021.11.10.1
olefile
filetype
tldextract
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
asyncio
speedtest-cli
py-youtube
